<div>
    <div>
        <p>
            Voetbal is een sport voor iedereen.
        </p>
        <p>
            Verstokte die-hard fan van Brugge, Anderlecht, Gent...  Of liever sporadisch een match meepikken die jou interessant lijkt?
            Of gewoon lekker leuk op uitstap met je geliefde of zelfs met het hele gezin.
        </p>
        </br>
        <p>
            Hier moet je zijn!
        </p>
        <p>
            Eindelijk zijn we erin geslaagd om de topteams binnen de ProLeaugue op één lijn te krijgen en kunnen we op een heel eenvoudige manier
            tickets aanbieden voor deze teams. Geen zoektocht meer om te weten hoe het werkt bij elke ploeg, geen lidkaarten meer, ... 
        </p>
        <p>
            Vanaf nu één simpele registratie op onze site en je hebt al je tickets binnen handbereik.
        </p>
    </div>
</div>